<div class="header-container">
  <div class="header-gauche">
    <div class="header-menu">
      <p>MENU</p>
    </div>
    <div class="header-logo" *ngIf="jwtTokenHeader.isAuthenticated">
      <a [routerLink]="['/newsfeed']">
        logo
      </a>
    </div>
    <div class="header-logo" *ngIf="!jwtTokenHeader.isAuthenticated">
        <a [routerLink]="['/']">
          logo 
        </a>
      </div>
  </div>
  <span *ngIf="jwtTokenHeader.isAuthenticated">
  <div class="search-header" [formGroup]="myForm">
      <mat-form-field appearance="outline">
          <input matInput
          formControlName='search' 
          type="text" 
          aria-label="Text"  
          [matAutocomplete]="auto"
          (keyup)="onKey($event)"
          (keydown)="onKey($event)">
          <mat-label>Rechercher</mat-label>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filterOptions | async" (click)="searchId(option.id)" [value]="option.nom">
              {{ option.nom }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  </div>
  </span>
  <span *ngIf="!jwtTokenHeader.isAuthenticated">
    <div class="header-category">
      <a style="margin-right: 20px;" [routerLink]="['/signup']">
        Inscription
      </a>
      <a [routerLink]="['/signin']">
        Connexion
      </a>
    </div>
  </span>
  <div class="header-category connected-header" *ngIf="jwtTokenHeader.isAuthenticated">
    <a class="link-m" [routerLink]="['/newsfeed']">
      Fil d'actualité
    </a>
    <a class="link-m" [routerLink]="['/profil']">
      Mon profil
    </a>
    <a class="link-m" (click)="logout()">
      Deconnexion
    </a>
  </div>
</div>
